@font-face {
  font-family: 'TwCentEB';
  src: url('../fonts/Tw Cent/TCCEB.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoL';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoR';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoM';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoB';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoBk';
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

.logotype {
  font-weight:bold;
  text-transform: uppercase;
  font-family: 'TwCentEB';
  &__head {
    color: $palette-primary;
    font-size: 1.4em;
  }
  &__desc {
    font-size: .75em;
    letter-spacing: .8px;
  }
}

.page-intro {
  color:$palette-secondary;
  &__title {
    font-family:'RobotoL';
    font-size: 2.2em;
    line-height: $intro-title-line-height;
  };
  &__desc {
    font-family:'RobotoR';
    font-size:.75em;
    line-height: $intro-desc-line-height;
    word-spacing: .15em;
  }
}

.section {
  &-title {
    position: relative;
    display:inline-block;
    font-size: 1.25em;
    padding:15px 0;
    &:before {
      position: absolute;
      content: '';
      width:85%;
      height:2px;
      background:$palette-primary-text;
      left:0;
      bottom:10px;
    }
    &--centered {
      &:before {
        left:50%;
        transform: translate(-50%);
      }
    }
  }
}

.search {
  text-align: center;
  text-transform: uppercase;
  &__title {
    font-family: 'RobotoBk';
    font-size: 1.5em;
  }
  &__sub {
    font-size:1.2em;
    letter-spacing: 1px;
  }
}
