.logotype {
  font-family: 'TwcentEb';
  text-transform: uppercase;
  &__head {
    color: $palette-primary;
    font-size: 1.3em;
    letter-spacing: 1.1px;
  }
  &__desc {
    font-weight:bold;
    font-size: .75em;
    letter-spacing: 1px;
  }
}

.page-intro {
  color:$palette-secondary;
  &__title {
    font-family:'RobotoL';
    font-size: 2.2em;
    line-height: $intro-title-line-height;
  };
  &__desc {
    font-family:'RobotoR';
    font-size:.75em;
    line-height: $intro-desc-line-height;
    word-spacing: .15em;
    letter-spacing: .2px;
  }
  @include respond-to(medium) {
    &__title {
      font-size: 3em;
    }
    &__desc {
      font-size:.9em;
    }
  }
  @include respond-to(huge) {
    &__title {
      font-family: 'RobotoM';
    }
    &__desc {
      font-size: .8em;
    }
  }
}

.section {
  &-title {
    text-transform: lowercase;
    position: relative;
    display:inline-block;
    font-size: 1.25em;
    padding:15px 0;
    &:before {
      position: absolute;
      content: '';
      width:85%;
      height:2px;
      background:$palette-primary-text;
      left:0;
      bottom:10px;
    }
    &--centered {
      &:before {
        left:50%;
        transform: translate(-50%);
      }
    }
  }
}

.search {
  text-align: center;
  text-transform: uppercase;
  &__title {
    font-family: 'RobotoBk';
    font-size: 1.5em;
    padding-bottom:4px;
  }
  &__sub {
    font-size:.7em;
    letter-spacing: 1.5px;
  }
}

.category {
  color:$palette-secondary;
  &__name {
    font-size:2.2em;
    font-family:'RobotoR';
    letter-spacing: 1px;
    text-shadow: 1px 1px 6px black;
  }
}

.footer {
  &__copy {
    text-align: center;
    font-size:.8em;
    font-family:'RobotoL';
    letter-spacing: 1px;
  }
}
