    <footer class='footer'>
      <div class="flex-wrapper">
        <nav class="footer__nav">
          <section class="footer__item">
            <h4 class="footer__head">navigation</h4>
            <ul class="footer__list">
              <li class="list__item"><a href="#">home</a></li>
              <li class="list__item"><a href="#">events</a></li>
              <li class="list__item"><a href="#">add event</a></li>
              <li class="list__item"><a href="#">categories</a></li>
              <li class="list__item"><a href="#">about us</a></li>
              <li class="list__item"><a href="#">contact</a></li>
            </ul>
          </section>
          <section class="footer__item">
            <h4 class="footer__head">social media</h4>
            <ul class="footer__list">
              <li class="list__item"><a href="#">facebook</a></li>
              <li class="list__item"><a href="#">twitter</a></li>
              <li class="list__item"><a href="#">youtube</a></li>
              <li class="list__item"><a href="#">linkedin</a></li>
            </ul>
          </section>
          <section class="footer__item">
            <h4 class="footer__head">categories</h4>
            <ul class="footer__list">
              <li class="list__item"><a href="#">food</a></li>
              <li class="list__item"><a href="#">sport</a></li>
              <li class="list__item"><a href="#">fashion</a></li>
              <li class="list__item"><a href="#">technology</a></li>
              <li class="list__item"><a href="#">drink</a></li>
              <li class="list__item"><a href="#">music</a></li>
              <li class="list__item"><a href="#">party</a></li>
            </ul>
          </section>
          <section class="footer__item">
            <h4 class="footer__head">events</h4>
            <ul class="footer__list">
              <li class="list__item"><a href="#">warszawa</a></li>
              <li class="list__item"><a href="#">poznań</a></li>
              <li class="list__item"><a href="#">bydgoszcz</a></li>
              <li class="list__item"><a href="#">szczecin</a></li>
              <li class="list__item"><a href="#">gdynia</a></li>
              <li class="list__item"><a href="#">wrocław</a></li>
            </ul>
          </section>
          <section class="footer__item">
            <h4 class="footer__head">contact us</h4>
            <form action="" class="form form--footer">
              <div>
                <div>
                  <label>email</label>
                  <input type="text" placeholder="Enter your email" class="input" />
                </div>
                <div>
                  <label>nickname</label>
                  <input type="text" placeholder="Enter your nickname" class="input" />
                </div>
              </div>
              <div>
                <label>message</label>
                <textarea type="text" placeholder="Enter your message"></textarea>
              </div>
              <button class="button button--default">send message</button>
            </form>
          </section>
        </nav>
      </div>
    </footer>
  </body>
</html>
