    <div class="container">
      <div class="hero">
        <header class="header">
          <div class="logotype">
            <h1>best events</h1>
            <p>all over your city</p>
          </div>
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item"><a href="#" class="nav__link">add event</a></li>
              <li class="nav__item"><a href="#" class="nav__link">home</a></li>
              <li class="nav__item"><a href="#" class="nav__link">events</a></li>
              <li class="nav__item"><a href="#" class="nav__link">categories</a></li>
              <li class="nav__item"><a href="#" class="nav__link">about us</a></li>
              <li class="nav__item"><a href="#" class="nav__link">contact</a></li>
            </ul>
          </nav>
        </header>
        <section class="page-intro">
          <h2>Best events among </br> Your beloved city</h2>
          <p>Are you lokking for a party, concert or you are the organizer by yourself? You are in a good place! Choose through a thousands of events available in plenty of cities.</p>
          <form action="#" method="post" class='form form__default'>
            <input type="text" placeholder="Enter your email" class='input input__default'/>
            <button type="submit" class='button button--default'>create account</button>
          </form>
        </section>
      </div>
    </div>
    <main class="main">
      <div class="container">
        <section class="section about">
          <h3 class="section-title">about us</h3>
          <div class="flex-wrapper">
            <div class="about__item">
              <figure>
                <img src="#" alt="">
              </figure>
              <p>we have plenty of events on our databse waiting for your participation. search it now and go party with your friends.</p>
            </div>
            <div class="about__item">
              <figure>
                <img src="#" alt="">
              </figure>
              <p>are you interested in music? do you like 'it' stuff? Do not worry! we categorise every event for your convenience.</p>
            </div>
            <div class="about__item">
              <figure>
                <img src="#" alt="">
              </figure>
              <p>doing a party or an art show? forget about leaflets! let us be a distributor for you. we are going to make it work.</p>
            </div>
            <div class="about__item">
              <figure>
                <img src="#" alt="">
              </figure>
              <p>you save a lot of time. it works fast and ably. couple seconds after, your vent is visible for everyone interested.</p>
            </div>
          </div>
        </section>
      </div>
      <section class="search">
        <div class="container">
          <div class="search-flex">
            <h3 class="search__title">search our database</h3>
            <p class="search__sub">1000+ events near you</p>
            <form action="#" method="post" class='form form__default'>
              <input type="text" placeholder="What are you looking for?" class="input input__default" />
              <input type="text" placeholder="Enter event location" class="input input__default" />
              <button class="button button--default">search now</button>
            </form>
          </div>
        </div>
      </section>
      <section class="section popular">
        <div class="flex-wrapper">
          <section class="popular__events">
            <h3 class="section-title">popular events</h3>
            <div class="popular__wrapper">
              <div class="popular__item">1</div>
              <div class="popular__item">2</div>
              <div class="popular__item">3</div>
              <div class="popular__item">4</div>
            </div>
          </section>
          <section class="popular__categories">
            <h3 class="section-title">popular categories</h3>
            <div class="popular__wrapper">
              <div class="popular__item">1</div>
              <div class="popular__item">2</div>
              <div class="popular__item">3</div>
              <div class="popular__item">4</div>
              <div class="popular__item">5</div>
              <div class="popular__item">6</div>
              <div class="popular__item">7</div>
            </div>
          </section>
        </div>
        <section>
          <h3 class="section-title">events close to you</h3>
          <div class="flex-wrapper">
            <div class="popular__item">1</div>
            <div class="popular__item">2</div>
            <div class="popular__item">3</div>
            <div class="popular__item">4</div>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
