body {
  font-family: 'RobotoR';
  font-size: 16px;
  background: #f7f7f7; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

.section {
  margin: 50px 0;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 8px #dedede;
          box-shadow: 0px 1px 8px #dedede; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

.logotype {
  font-family: 'TwcentEb';
  text-transform: uppercase; }
  .logotype__head {
    color: #d4145a;
    font-size: 1.3em;
    letter-spacing: 1.1px; }
  .logotype__desc {
    font-weight: bold;
    font-size: .75em;
    letter-spacing: 1px; }

.page-intro {
  color: #ffffff; }
  .page-intro__title {
    font-family: 'RobotoL';
    font-size: 2.2em;
    line-height: 1; }
  .page-intro__desc {
    font-family: 'RobotoR';
    font-size: .75em;
    line-height: 1.7;
    word-spacing: .15em;
    letter-spacing: .2px; }
  @media (min-width: 640px) {
    .page-intro__title {
      font-size: 3em; }
    .page-intro__desc {
      font-size: .9em; } }
  @media (min-width: 1200px) {
    .page-intro__title {
      font-family: 'RobotoM'; }
    .page-intro__desc {
      font-size: .8em; } }

.section-title, .footer__head {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  padding: 15px 0; }
  .section-title:before, .footer__head:before {
    position: absolute;
    content: '';
    width: 85%;
    height: 2px;
    background: #2b2b2b;
    left: 0;
    bottom: 10px; }
  .section-title--centered:before {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }

.search {
  text-align: center;
  text-transform: uppercase; }
  .search__title {
    font-family: 'RobotoBk';
    font-size: 1.5em;
    padding-bottom: 4px; }
  .search__sub {
    font-size: .7em;
    letter-spacing: 1.5px; }

.category {
  color: #ffffff; }
  .category__name {
    font-size: 2.2em;
    font-family: 'RobotoR';
    letter-spacing: 1px;
    text-shadow: 1px 1px 6px black; }

.footer__copy {
  text-align: center;
  font-size: .8em;
  font-family: 'RobotoL';
  letter-spacing: 1px; }

@font-face {
  font-family: 'TwcentEb';
  src: url("./../fonts/TwCent/TCCEB.ttf") format("truetype"); }
@font-face {
  font-family: 'RobotoL';
  src: url("./../fonts/Roboto/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'RobotoR';
  src: url("./../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'RobotoM';
  src: url("./../fonts/Roboto/Roboto-Medium.ttf") format("truetype"); }
@font-face {
  font-family: 'RobotoB';
  src: url("./../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'RobotoBk';
  src: url("./../fonts/Roboto/Roboto-Black.ttf") format("truetype"); }
.button-wrapper {
  padding: 0 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #7c043a;
  height: 38px;
  border-radius: 10px; }

.button {
  cursor: pointer;
  width: 100%;
  height: 30px;
  border: none;
  padding: 0 10px;
  font-size: .75em;
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'RobotoB'; }
  .button--default {
    background: #e8ab00;
    color: #ffffff; }
    .button--default:hover {
      background: #ffc112; }
  .button--danger {
    background: #db0000; }
    .button--danger:hover {
      font-weight: bold;
      background: red; }

.nav-toggle {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.8em;
  font-weight: bold; }
  .nav-toggle input {
    display: none; }
    .nav-toggle input:checked ~ .nav-mobile {
      display: block; }
  .nav-toggle label {
    color: #ffffff;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg); }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center; }
  .form--footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column; }

.input {
  color: #f44d90;
  outline: none;
  height: 38px;
  border: none;
  padding: 0 15px;
  border-radius: 10px; }
  .input::-webkit-input-placeholder {
    color: #f44d90; }
  .input:-ms-input-placeholder {
    color: #f44d90; }
  .input::-ms-input-placeholder {
    color: #f44d90; }
  .input::placeholder {
    color: #f44d90; }
  .input--default {
    background: #7c043a; }
  .input--darker {
    background: #262626; }
    .input--darker::-webkit-input-placeholder {
      color: #d9d9d9; }
    .input--darker:-ms-input-placeholder {
      color: #d9d9d9; }
    .input--darker::-ms-input-placeholder {
      color: #d9d9d9; }
    .input--darker::placeholder {
      color: #d9d9d9; }
  @media (min-width: 640px) {
    .input {
      width: 100%; } }

input, textarea {
  font-family: 'RobotoL';
  letter-spacing: .2px;
  font-size: .8em; }
  @media (min-width: 640px) {
    input, textarea {
      font-size: .9em; } }

.footer input, .footer textarea {
  color: #d9d9d9;
  width: 100%;
  outline: 0; }
.footer textarea {
  padding: 10px 15px;
  border: none;
  border-radius: 10px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  height: 70px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px; }
  @media (min-width: 640px) {
    .header {
      margin-bottom: 60px; } }
  @media (min-width: 820px) {
    .header {
      margin-bottom: 40px; } }
  .header .logotype {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }

.nav, .nav-mobile {
  -ms-flex-item-align: center;
      align-self: center;
  display: none; }
  .nav__list, .nav-mobile__list {
    list-style-type: none; }
  .nav__item, .nav-mobile__item {
    display: inline-block; }

.hero {
  background-image: url("../images/hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;
  background-position-x: -80px;
  height: 565px; }
  @media (min-width: 820px) {
    .hero {
      background-position-y: -80px;
      background-position-x: 160px; } }
  @media (min-width: 1200px) {
    .hero {
      margin: 0 auto;
      max-width: 1200px;
      background-size: auto;
      background-position: top center;
      background-position-y: -90px;
      background-position-x: 120px; } }

.logotype {
  -ms-flex-item-align: center;
      align-self: center; }
  .logotype__image {
    height: 35px;
    margin-right: 10px; }

.flex-wrapper, .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media (min-width: 480px) {
    .flex-wrapper, .footer__nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; } }
  @media (min-width: 960px) {
    .flex-wrapper, .footer__nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; } }

#add-wrapper {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 45px;
  height: 45px; }
  #add-wrapper button {
    border-radius: 100%;
    font-family: 'RobotoR';
    font-size: 1.5em;
    height: inherit;
    width: inherit; }

.page-intro {
  max-width: 440px; }
  .page-intro input {
    width: auto; }
  .page-intro__title {
    margin-bottom: 12px; }
  .page-intro__desc {
    margin-bottom: 20px; }
  .page-intro .button-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .page-intro input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  @media (min-width: 640px) {
    .page-intro {
      margin-left: 30px; } }
  @media (min-width: 820px) {
    .page-intro {
      margin-top: 65px;
      margin-left: 280px; } }

.about {
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 50px; }
  .about__image {
    height: 45px;
    max-width: 90px; }
  .about__item {
    padding: 20px 0; }
    .about__item p {
      font-size: .8em;
      letter-spacing: .4px;
      text-align: justify; }
    .about__item figure {
      padding: 15px 0;
      text-align: center; }
    @media (min-width: 480px) {
      .about__item {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%; }
        .about__item:nth-child(odd) {
          padding-right: 16px; } }
    @media (min-width: 820px) {
      .about__item {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 25%;
                flex: 1 1 25%; }
        .about__item:not(:last-child) {
          padding-right: 50px; } }

.search {
  background: url("../images/searchBg.svg") no-repeat;
  color: #ffffff;
  background-position-x: 68%;
  background-size: cover;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .search__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
    margin: 30px 0; }
    .search__form input {
      margin-bottom: 3px; }
  @media (min-width: 820px) {
    .search__form {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; }
      .search__form input:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        min-width: 300px; }
      .search__form input:nth-child(2) {
        min-width: 150px;
        border-radius: 0; }
      .search__form .button-wrapper {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
        .search__form .button-wrapper button {
          width: 100px; } }

@-moz-document url-prefix() {
  .popular img {
    align-self: normal; } }
.popular__direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
  @media (min-width: 960px) {
    .popular__direction {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -ms-flex-direction: row;
          flex-direction: row; }
      .popular__direction > section {
        width: 50%; }
        .popular__direction > section:first-child {
          padding-right: 10px; }
      .popular__direction .flex-wrapper, .popular__direction .footer__nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap; } }
.popular__item {
  width: 100%;
  margin-bottom: 10px; }
  @media (min-width: 480px) {
    .popular__item {
      width: 50%; }
      .popular__item:nth-child(even) {
        padding-left: 5px; }
      .popular__item:nth-child(odd) {
        padding-right: 5px; } }
.popular__delete {
  width: auto;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; }

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .category__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
    padding: 1px;
    cursor: pointer; }
    .category__item:hover:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #d4145a;
      opacity: .5;
      z-index: 1; }
  .category .food, .category .drink, .category .sport, .category .music {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%; }
  .category .technology, .category .parties, .category .fashion {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%; }
  @media (min-width: 640px) {
    .category .music, .category .sport, .category .parties {
      -webkit-box-flex: 1;
          -ms-flex: 1 33%;
              flex: 1 33%; }
    .category .technology, .category .fashion {
      -webkit-box-flex: 1;
          -ms-flex: 1 50%;
              flex: 1 50%; } }
  @media (min-width: 960px) {
    .category .food, .category .soprt {
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%; }
    .category .music, .category .parties {
      -webkit-box-flex: 1;
          -ms-flex: 1 50%;
              flex: 1 50%; }
    .category .drink {
      -webkit-box-flex: 1;
          -ms-flex: 1 35%;
              flex: 1 35%; }
    .category .technology {
      -webkit-box-flex: 1;
          -ms-flex: 1 65%;
              flex: 1 65%; } }
  .category__name {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .category__image-wrapper {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden; }
  @media (min-width: 640px) {
    .category__image-wrapper {
      height: 150px; } }

.recently-added {
  margin-top: 10px; }
  @media (min-width: 960px) {
    .recently-added .popular__item {
      width: 25%; }
      .recently-added .popular__item:nth-child(2) {
        padding-right: 10px; } }

.footer {
  color: #d9d9d9;
  background: #2b2b2b;
  border-top: 10px solid #d9d9d9;
  padding: 20px 0; }
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .footer__head {
    font-size: 1em; }
    .footer__head:before {
      background: #d9d9d9; }
  .footer__link {
    text-decoration: none;
    color: #d9d9d9;
    font-size: .875em; }
    .footer__link:hover {
      color: #d4145a; }
  .footer__item {
    padding: 0 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 40%;
            flex: 1 40%; }
    .footer__item:last-child {
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%; }
  .footer__list {
    list-style: none; }
  .footer .label-wrapper {
    width: 100%;
    margin-bottom: 10px; }
    .footer .label-wrapper label {
      display: inline-block;
      margin-left: 8px;
      padding-bottom: 4px; }
  .footer__copy {
    margin-top: 50px; }
  @media (min-width: 820px) {
    .footer__item {
      -webkit-box-flex: 1;
          -ms-flex: 1 33%;
              flex: 1 33%; }
      .footer__item:last-child {
        -webkit-box-flex: 1;
            -ms-flex: 1 67%;
                flex: 1 67%; }
    .footer__labels {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; }
      .footer__labels .label-wrapper:not(:last-child) {
        padding-right: 10px; } }
  @media (min-width: 1200px) {
    .footer__item {
      -webkit-box-flex: 1;
          -ms-flex: 1 15%;
              flex: 1 15%; }
      .footer__item:last-child {
        -webkit-box-flex: 1;
            -ms-flex: 1 40%;
                flex: 1 40%; } }

.article {
  position: relative; }
  .article__image-wrapper {
    position: relative;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-bottom: 3px solid #d4145a; }
    @media (min-width: 480px) {
      .article__image-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .article__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .article__info {
    padding: 10px;
    background: #f7f7f7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .article__date {
    text-align: center;
    margin-right: 10px; }
  .article__title {
    font-family: 'RobotoL';
    font-size: 1.2em; }
  .article__text {
    font-family: 'RobotoL';
    font-size: .9em; }
  .article__summary {
    margin-bottom: 6px;
    color: #d9d9d9;
    font-size: .8em; }
  .article__day {
    font-family: 'RobotoR';
    font-size: 1.6em; }
  .article__month {
    font-family: 'RobotoB';
    font-size: .9em;
    display: block;
    color: #d4145a;
    margin-top: -3px; }
  .article__link:hover h4 {
    color: #d4145a; }

/*# sourceMappingURL=main.css.map */