.nav-toggle {
  align-self: center;
  font-size:1.8em;
  font-weight:bold;
  input {
    display:none;
    &:checked {
      ~ .nav-mobile {
        display:block;
      }
    }
  }
  label {
    color: $palette-secondary;
    transform: rotate(75deg);
  }
}
.form {
  display:flex;
  align-content:center;
  box-shadow: 0px 0px 7px $palette-inputs-bg;
  border-radius: $radius10;
  &--footer {
    flex-flow: nowrap column;
    box-shadow: none;
  }
  &--sign {
    width:80%;
    input {
      flex: 2;
    }
    div {
      flex: 1;
    }
  }
}
.input {
  color:$palette-inputs-text;
  outline:none;
  height:38px;
  border:none;
  padding:11px;
  border-radius:$radius10;
  &::placeholder {
    color: $palette-inputs-text;
  }
  &--default {
    background: $palette-inputs-bg;
  }
  &--darker {
    background: $palette-footer-inputs;
    &::placeholder {
      color:$palette-footer-color;
    }
  }
  @include respond-to(medium) {
    width:100%;
  }
}
input, textarea {
  font-family: 'RobotoL';
  letter-spacing: .2px;
  font-size:.75em;
  @include respond-to(medium) {
    font-size:.8em;
  }
}
.footer {
  input, textarea {
    color:$palette-footer-color;
    width:100%;
    outline:0;
  }
  textarea {
    padding:10px 15px;
    border:none;
    border-radius: $radius10;
    @include respond-to(huge) {
      max-width:442px;
    }
  }
}
