.nav-toggle {
  align-self: center;
  font-size:1.8em;
  font-weight:bold;
  input {
    display:none;
    &:checked {
      ~ .nav-mobile {
        display:block;
      }
    }
  }
  label {
    color: $palette-secondary;
    padding:10px;
    transform: rotate(75deg);
  }
}
