.about {
  text-align: center;
  line-height: $default-line-height;
  text-transform: uppercase;
  margin-bottom:50px;
  &__image {
    height:45px;
    max-width:90px;
  }
  &__item {
    padding:20px 0;
    p {
      font-size:.8em;
      letter-spacing: .4px;
      text-align: justify;
    }
    figure {
      padding:15px 0;
      text-align: center;
    }
      @include respond-to(small) {
        flex:1 1 50%;
        &:nth-child(odd) {
          padding-right:16px;
        }
      }
      @include respond-to(medium-large) {
        flex: 1 1 25%;
        &:not(:last-child) {
          padding-right:50px;
        }
      }
  }
}
