.footer {
  color:$palette-footer-color;
  background: $palette-primary-text;
  border-top: 10px solid $palette-footer-color;
  padding:20px 0;
  &__nav {
    @extend .flex-wrapper;
    flex-flow: row wrap;
  }
  &__head {
    @extend .section-title;
    font-weight:lighter;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    font-size: 1em;
    &:before {
      background: $palette-footer-color;
    }
  }
  &__link {
    text-decoration: none;
    color:$palette-footer-color;
    font-size: .875em;
    &:hover {
      color:$palette-primary;
    }
  }
  &__item {
    padding:0 15px;
    flex: 1 40%;
    &:last-child {
      flex:1 100%;
    }
  }
  &__list {
    list-style: none;
  }
  .label-wrapper {
    width:100%;
    margin-bottom:10px;
    label {
      display:inline-block;
      margin-left:8px;
      padding-bottom:4px;
    }
  }
  &__copy {
    margin-top:50px;
  }
  @include respond-to(medium-large) {
    &__item {
      flex: 1 33%;
      &:last-child {
        flex:1 67%;
      }
    }
    &__labels {
      flex-flow: row nowrap;
      .label-wrapper {
        &:not(:last-child) {
          padding-right:10px;
        }
      }
    }
  }
  @include respond-to(huge) {
    &__item {
      flex:1 15%;
      &:last-child {
        flex:1 40%;
      }
    }
  }
}
