.flex-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex-direction: column;
  @include respond-to(small) {
    flex-direction: row;
    flex-flow: row wrap;
  }
}
