.hero {
  background-image: url('../images/hero.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;
  background-position-x: -80px;
  height:565px;
  overflow:hidden;
}
