#db-nav {
  background:$palette-secondary;
  position: fixed;
  display:flex;
  justify-content: space-between;
  width:100%;
  align-items: center;
  box-shadow: -1px -1px 3px rgba(0,0,0,.2);
  z-index: 999;
  left:0;
  bottom:0;
  height:46px;
  padding:0 10px;
  transition:.3s all linear;
}

.notification {
  transition:.3s all linear;
  background:$palette-notification !important; //temporary
  &-info {
    color:$palette-primary-text;
    font-family:'RobotoR';
  }
}

.modal {
  display:block;
  position: fixed;
  //makes modal wrapper scrollable
  height:100%;
  max-height: 100%;
  overflow-y: auto;
  //--//
  left:0;
  bottom:-100vh;
  z-index: 9;
  background:$palette-secondary;
  width:100%;
  padding:10px;
  transition:.3s all ease-out;
  &--showing {
    display:block;
    bottom:0;
    transition:.3s all ease-in;
  }
  &--hiding {
    display:none;
  }
  &__image {
    align-self: flex-start;
  }
  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    max-width:1200px;
    margin:30px auto;
    padding:30px;
  }
  &__header {
    display:flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding:25px 0;
    color:$palette-primary-text;
    border-bottom:1px solid #bdbdbd;
  }
  &__title {
    font-size:2em;
    display:block;
  }
  &__form {
    box-shadow: none;
    margin-top:50px;
    display: flex;
    flex-flow: column nowrap;
    div {
      margin-bottom:15px;
    }
  }
  &__exit {
    cursor: pointer;
    font-weight:bold;
    position: relative;
    display:block;
    padding:20px;
    &:hover {
      &:before, &:after {
        background: $palette-primary-text;
      }
    }
    &:before, &:after {
      content: '';
      position: absolute;
      top:0;
      left:50%;
      background:#bdbdbd;
      height:35px;
      width:6px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  &__btn {
    align-self: flex-end;
    width:120px;
  }
  &__label {
    display:block;
    margin-bottom:2px;
  }
  &__input {
    display:block;
    color:$palette-primary-text;
    border: 1px solid $palette-footer-color;
    width:100% !important; //temporary
    &::placeholder {
      color: $palette-primary-text;
    }
  }
}
