#db-nav {
  position: fixed;
  right:25px;
  z-index: 2;
  bottom:25px;
  display: flex;
  flex-flow: row nowrap;
  button {
    margin-right:10px;
    border-radius: 10px;
    font-family:'RobotoR';
    font-size:.9em;
    color:$palette-secondary;
    &:hover {
        font-family:'RobotoM';
    color:$palette-footer-inputs;
    }
  }
}

.modal {
  display:none;
  position: fixed;
  //makes modal wrapper scrollable
  height:100%;
  max-height: 100%;
  overflow-y: auto;
  //--//
  left:0;
  top:0;
  z-index: 9;
  background:$palette-modal-bg;
  width:100%;
  padding:10px;
  &--showing {
    display:block;
  }
  &--hiding {
    display:none;
  }
  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    max-width:800px;
    margin:30px auto;
    padding:30px;
  }
  &__form {
    margin-top:15px;
    display: flex;
    flex-flow: column nowrap;
    div {
      margin-bottom:15px;
    }
  }
  &__exit {
    align-self: flex-end;
    font-size:1.5em;
    cursor: pointer;
    font-weight:bold;
    &:hover {
      color: $palette-primary;
    }
  }
  &__btn {
    align-self: flex-end;
    width:120px;
  }
  &__label {
    display:block;
    margin-bottom:2px;
  }
  &__input {
    display:block;
    color:$palette-primary-text;
    border: 1px solid $palette-footer-color;
    width:100% !important; //temporary
    &::placeholder {
      color: $palette-primary-text;
    }
  }
}
