.page-intro {
  max-width:440px;
  input {
    width:auto;
  }
  &__title {
    margin-bottom:12px;
  }
  &__desc {
    margin-bottom:20px;
  }
  .button-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  @include respond-to(medium) {
    margin-left:30px;
  }
  @include respond-to(medium-large) {
    margin-top:65px;
    margin-left:280px;
  }
}
