.page-intro {
  max-width:420px;
  &__title {
    margin-bottom:12px;
  }
  &__desc {
    margin-bottom:20px;
  }
  .button-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
