.search {
  background: url('../images/searchBg.svg') no-repeat;
  color:$palette-secondary;
  background-position-x: 68%;
  background-size: cover;
  height:320px;
  display:flex;
  align-items: center;
  &__form {
    flex-flow: nowrap column;
    margin:30px 0;
    input {
      margin-bottom:3px;
    }
  }
}
