$breakpoints: (
  'small': (min-width: 480px),
  'medium': (min-width: 640px),
  'medium-large': (min-width: 820px),
  'large': (min-width: 960px),
  'huge': (min-width: 1200px),
);
$x-palette-crimson: #d4145a;
$x-palette-frenchRose: #f44d90;
$x-palette-white: #ffffff;
$x-palette-siren: #7c043a;
$x-palette-corn: #e8ab00;
$x-palette-mineShaft: #2b2b2b;

$default-line-height: 1.5;
$intro-title-line-height: 1;
$intro-desc-line-height: 1.7;
$radius10: 10px; 

$palette-primary: $x-palette-crimson;
$palette-secondary: $x-palette-white;
$palette-buttons: $x-palette-corn;
$palette-primary-text: $x-palette-mineShaft;
$palette-secondary-text: lighter($x-palette-mineShaft, 30%);
$palette-inputs-bg: $x-palette-siren;
$palette-inputs-text: $x-palette-frenchRose;
$palette-body-bg: darken($x-palette-white, 3%);
$palette-shadow: lighten($x-palette-mineShaft, 70%);
$palette-footer-color: darken($x-palette-white, 15%);
$palette-summary: darken($x-palette-white, 20%);
$palette-footer-inputs: darken($x-palette-mineShaft, 2%);
$palette-modal-bg: rgba(0,0,0,.4);
